.about-container-outer {
  background-image: url("/public/images/PlanYourTripImg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 60px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container-inner {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

.headings {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
}
